.text-input {
  width: 100%;
  resize: vertical;
}

.TaskList {
  margin: 10vh auto;
  display: flex;
  flex-direction: column;
  width: 800px;
}

.add-task,
.list-task {
  margin-top: 10px;
}

.progress { 
  margin-top: 20px;
}

.actions {
  display: flex;
  justify-content: flex-end;
}
.actions button {
  margin: 0 5px;
}

.done-title {
  font-style: italic;
  color: lightgray;
}